# General
.vagrant/
build-api-dockerfile/
build-loadbalancer-dockerfile/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log

# Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/